<%if same_user?(@db_step_three.deal_builder_id,'db') %>

<h1>The Fine Print</h1>
<br />
<div>
  <div class='dbShowLabel'>Restrictions</div>
  <% @db_step_three.standard_restrictions.each do |s_r| %>
    <%= s_r.description %>
  <% end %>
  <%= ' ' + @db_step_three.optional_restriction %>
</div>
<br />
<div>
  <div class='dbShowLabel'>Voucher Length</div>
  <%= pluralize @db_step_three.voucher_length, 'Month' %> 
</div>
<br />


<% end %>
