<div class='rightSideLayout' style='width:150px;margin-right:500px;'>
    <%= form_tag( {:controller => :facebook_share_codes, :action => :checkAndValidateFBCode}) do %>
      <div style='text-align:center;'>Facebook Share Code</div>
      <%= text_field_tag :typed_fb_code, params[:typed_fb_code] %>
      <%= hidden_field_tag :db_id,  @db_publish_id %>
      <div style='text-align:center;'>
      <%= submit_tag 'Unlock'%>
      </div>
    <% end %>
</div>

