<h1>Listing comparison_tools</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comparison_tools.each do |comparison_tool| %>
  <tr>
    <td><%= link_to 'Show', comparison_tool %></td>
    <td><%= link_to 'Edit', edit_comparison_tool_path(comparison_tool) %></td>
    <td><%= link_to 'Destroy', comparison_tool, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comparison tool', new_comparison_tool_path %>
