<%= content_for :rightlayout do %>
<div class="leftSideLayout">
<h1>Editing Standard Restriction</h1>

<%= render 'form' %>

<div class="blueGreenLink"><%= link_to 'Show', @standard_restriction %> |
<%= link_to 'Back', standard_restrictions_path %></div>
<% end %>
</div>
