<%= content_for :rightlayout do %>
<h1>Editing standard_restriction</h1>

<%= render 'form' %>

<%= link_to 'Show', @standard_restriction %> |
<%= link_to 'Back', standard_restrictions_path %>
<% end %>
