<head>
<%= stylesheet_link_tag 'login.css' %>
<%= stylesheet_link_tag 'signup.css' %>

</head>

<% unless current_user then %>
<div id='background'>
  <div id='contatiner'>
    <div id='logo'>
      <%= render(:partial => "users/signup",:object => @user) %>
    </div>
  </div>
</div>
<% else %>
<%= back_to_home %>
<% end %>
