<body style="background:black;">
 <div id="layoutbanner">
         <div class="bannerlogo">
         <%= link_to image_tag("theme/smallbannercroppedlogo.png") , home_path %>
         </div>
 </div>
 <div id="content">    
<br /><br /><br />
<br /><br /><br />
<div class='signUpForm'>
      <%= render(:partial => "users/signup",:object => @user) %>
</div>
 </div>
</body>
