<h1>Listing db_step_twos</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @db_step_twos.each do |db_step_two| %>
  <tr>
    <td><%= link_to 'Show', db_step_two %></td>
    <td><%= link_to 'Edit', edit_db_step_two_path(db_step_two) %></td>
    <td><%= link_to 'Destroy', db_step_two, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Db step two', new_db_step_two_path %>
