<%if  same_user?(@db_step_two.deal_builder_id,'db') %>

<h1>The Where</h1>
<div>
  <% @db_step_two.locations.each do |loc| %>
    <%= render :template => 'locations/show', :object => (@location = loc) %>
  <% end %>
</div>
<br />


<% end %>
