<% same_user?(@db_step_two.deal_builder_id) %>
<p id="notice"><%= notice %></p>

<h1>When and Where</h1>
<div>
  <b>Locations serving Offer</b>
  <% @db_step_two.locations.each do |loc| %>
    <%= render :template => 'locations/show', :object => (@location = loc) %>
  <% end %>
  <% if @db_step_two.include_all == 'yes' %>
     Include all locations!
  <% else %>
     Do not include all locations!
  <% end %>
</div>


<%= link_to 'Edit', edit_db_step_two_path(@db_step_two) %> |
<%= link_to 'Back', db_step_twos_path %>
