<%if  same_user?(@db_step_two.deal_builder_id,'db') %>

<h1>The Where</h1>
<div>
  <% @db_step_two.locations.each do |loc| %>
    <%= render :template => 'locations/show', :object => (@location = loc) %>
  <% end %>
</div>
<br />


<% unless DealBuilder.find(@db_step_one.deal_builder_id).db_publish %>
  <div class='blueGreenLink' style='text-align:center;display:inline;'><%= link_to 'Edit', edit_db_step_two_path(@db_step_two,
       :db_id => @db_step_two.deal_builder_id) %></div> 
<% end %>
<% end %>
