<%= content_for :rightlayout do %>
<div class="leftSideLayout">
<h1>Editing form_tip</h1>

<%= render 'form' %>

<div class="blueGreenLink"><%= link_to 'Show', @form_tip %> |
<%= link_to 'Back', form_tips_path %></div>
<% end %>
</div>
