<% if same_user?(@db_step_four.deal_builder_id,'db') %>

<h1> The Extras </h1>
<br />
<% if (@db_step_four.optional_incentive != '' || @db_step_four.fb_incentive == 'yes') %>
  <% if @db_step_four.optional_incentive != '' %>
  <div>
    <div class='dbShowLabel'>Incentives</div>
    <%= @db_step_four.optional_incentive %>
  <div>
  <% end %>
  <% if @db_step_four.fb_incentive == 'yes' %>
  <div>
    <div class='dbShowLabel'>Facebook Share Incentive</div>
      <%= @db_step_four.fb_incentive_text %>
  </div>
  <% end %>
<% else %>
<div>
There are no incentives for this offer.
</div>
<% end %>

<br />


<% end %>
