<%if same_user?(@db_step_four.deal_builder_id,'db') %>
<p id="notice"><%= notice %></p>

<h1> The Incentives </h1>
<div>
  <% if @db_step_four.fb_incentive == 'yes' %>
  <b>Facebook share incentive:</b>
    <%= @db_step_four.fb_incentive_text %>
  <% end %>
</div>
<div>
  <b>Optional incentive:</b>
  <%= @db_step_four.optional_incentive %>
</div>



<% unless DealBuilder.find(@db_step_one.deal_builder_id).db_publish %>
  <div class='blueGreenLink' style='text-align:center;'><%= link_to 'Edit', edit_db_step_four_path(@db_step_four, :db_id => @db_step_four.deal_builder_id) %></div> 
<% end %>
<% end %>
