

div.entry {
  font-size: 13px;
  color:#8cc63f;
  padding-top: 5px;
  text-align:left;
}

div.button {
   padding-top:50px;
   padding-right:450px;
}

div.industriesSignup {
  display:inline;
}
div.industrylink a {
  text-decoration:none;
  color: teal;
}

div.industrylink {
  display:inline;
}

div.industrylink a:hover {
  text-decoration:none;
  color: orange;
  display:inline;
}


p.industryBlindDown {
  display:inline;
}

p.industryBlindUp {
  display:inline;
}


table.signup {
  width:250px;
  border: 1px solid white;
  border-radius: 15px;
  -moz-border-radius: 15px;
  margin: 0 auto;
  caption-side:bottom;
 
}
caption div.button {
  width:100%;
  padding-top:5px ;
  text-align:right;
  
}

td.signup_text {
   text-align:right;
  font-size: 13px;
  color:#8cc63f;
}
td.signup_field {
  text-align:left;
}

table.signup .error {
  text-align:left;
}

table.signup label.error {
 color:#0f75bc;
 float:left;
}

