@import "jQuery_UI_uniq.css";

@import "iPhoneCheckboxes.css";
@import "visualize.css";

/* --- 1. CSS RESET --- */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,
blockquote,pre,address,code,del,dfn,em,img,q,
dl,dt,dd,ol,ul,li,
table,caption,tbody,tfoot,thead,tr,th,td,br,fieldset,textarea{font-family:Arial Black, Gadget, sans-serif;line-height:20px;letter-spacing:.1px;word-spacing:1px;margin:0;padding:0;border:0;}
hr,p,ul,ol,dl,pre,address,table{margin:0 0 10px}
p,h1, h2, h3, h4, h5, h6, ul.check_list, ul.arrowlist{padding-left:2px;}
strong, b{font-weight:normal;}
em, dfn, i{font-style:italic;}

a { outline:none; }

/* --- 2. GLOBAL DEFINITIONS --- */

body {
	color:#555;
	font-size:12px;
	background-color:white;
  /*background-image:url('/images/theme/Golden_Gate_Sunset.jpg');*/
  background-repeat:no-repeat;
  background-position:center;
  background-attachment:fixed;
}

hr {
	clear:both;
	float:left;
	width:100%;
	margin-top:15px;
	margin-bottom:20px;
	border:0;
	height:0px;
	border-top:1px solid #e5e5e5;
	border-bottom:1px solid #f4f4f4;
}

fieldset hr {
	border-bottom:1px solid #fff;
}

h1 {
	color::#333;
	font-size:28px;
	clear:both;
}

h2 {
	color:#333;
	font-size:18px;
}

h5 {
	text-transform:uppercase;
	font-size:16px;
	margin-bottom:15px;
}

h1 span {
	color:#1a1a1a;
}


/* --- 3. LAYOUT --- */

#container {
  width:960px;
  margin:0 auto;
}

#bgwrap {
	float:left;
	position:relative;
	width:100%;
	background:url('../images/theme/stripe.png') fixed 0 0 repeat-y;
}

/*ERROR BOX*/

.error {
	/*border-top: 1px solid #f7d0d0;
	border-bottom: 1px solid #c87676;

	background: #f3c7c7;
	background: -moz-linear-gradient(top,#f3c7c7,#eea2a2);
	background: -webkit-gradient(linear, left top, left bottom, from(#f3c7c7), to(#eea2a2));
*/
}

.error:before {
        /*this added the red x for error messages */
	/*content: url(../images/theme/icons/notifications/error.png);
	float: left;
	margin: 7px 15px 0px 15px;*/
}

.error strong {
	color: #b31616;
	margin-right: 15px;
}

div#layoutbanner {
   width:100%;
   height: 30px;
   background:#2d2d2d;
   display:table;
}

#layoutbanner div {
   display:table-cell;
   vertical-align:middle;
}

div.bannerlogo {
   display:inline;
   padding:0px 54px 0px 30px;
   margin:3px 0 0 0;

}

div.bannerslogan {
   float:left;
   padding: 24px 0 0 0; 
}

div#rightlayout {
  width:950px;
  height:500px;
  text-align:center;
  margin: 0 auto;
   border-radius: 0 15px 15px 0;
   -moz-border-radius:0 15px 15px 0;
}

div#content {
   width:1202px;
   text-align:center;
   margin: 10px auto;
   height:550px;
}

div#footer {
  width:100%;
  text-align:center;
  position:relative;
  display:table;
  color:black;
  font-weight:bold;
}

div.main_links a {
  text-decoration:none;
  color: #0f75bc;
}

div.main_links a:hover {
  text-decoration:none;
  color: #8cc63f;
}

h3.dashboard_header {
  text-decoration: underline;
  color:#0F75BC;
}

div.leftSideLayout {
  width:450px;
  float:left;
  margin:25px 10px 15px 20px;
  padding:20px 10px 30px 10px;
  background:#161616;
  color:white;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: 8px 8px 8px black;
  -webkit-box-shadow: 8px 8px 8px black;
  box-shadow: 8px 8px 8px black;
}
div#dealBuilderContainer {
  width:430px;
  float:left;
}
td.dealBuilderLabelCBox {
   text-align:left;
}
td.dealBuilderFieldCBox {
  text-align:left;
  padding-left:15px;
  color:white;
}

div.dealBuilderField {
}

div.dealBuilderSubmit input[type="submit"] {
  background:black;
  color:white;
  width:430px;
  height:35px;
  border:0px;
  border-radius:0px;
  -moz-border-radius: 0px;
  font-weight:bold;
  display:inline;
}
div.dealBuilderSubmit input[type="submit"]:hover {
  background:#ccc;
  color:black;
  cursor:pointer;
}

div.dealBuilderField input[type="text"]:focus, div.dealBuilderFileField input[type="file"]:focus,
  div.dealBuilderField textarea:focus {
  border:0px solid #2d2d2d;
  background:#ccc;
  color:black;
  outline:none;
}
div.dealBuilderFileField input[type='file'] {
  background-color:#2d2d2d;
  color:white;
  height:30px;
  font-size:13px;
  margin-bottom:4px;
  border-radius:0px;
  -moz-border-radius: 0px;
  border: 0px;
  width:315px;
  float:left;
}
div.dealBuilderFileMoreDivContainer {
  background:#2d2d2d;
  color: white;
  float:left;
  width:115px;
  height:30px;
}

div.dealBuilderFileMoreDivText {
  display:inline;
  font-size: 25px;
  font-weight:bold;
  vertical-align:middle;
}

div.dealBuilderFileMoreDivContainer:hover {
  background-color:#ccc;
  color: #2d2d2d;
  cursor:pointer;
}

div.dealBuilderField input[type="text"] {
  background-color:#2d2d2d;
  color:white;
  height:30px;
  font-size:13px;
  margin-bottom:4px;
  border-radius:0px;
  -moz-border-radius: 0px;
  border: 0px;
  width:430px;
}
div.dealBuilderField textarea {
  resize:none;
  background-color:#2d2d2d;
  display:block;
  margin-bottom:4px;
  color:white;
  height:64px;
  font-size:13px;
  border-radius:0px;
  -moz-border-radius: 0px;
  border: 0px;
  width:430px;

}

td.dealBuilderField input,select,textarea {
  color:black;
}
td.locationField {
  text-align:left;
}
td.locationField input,select {
  color:black;
}
td.locationLabel {
  text-align:left;
  padding-top:10px;
}
div.rightSideLayout {
  float:right;
  width:350px;
  margin:25px 10px 15px 20px;
  padding:20px 10px 30px 10px;
  background:#161616;
  color:white;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: 8px 8px 8px black;
  -webkit-box-shadow: 8px 8px 8px black;
  box-shadow: 8px 8px 8px black;

}

table.stepOneTips td {
  padding-top: 6px;
}


label.error {
   background:url('../images/theme/icons/small_icons/Erase.png');
background-repeat:no-repeat;
padding-left:1.5em
}

div.progressBar {
  width:450px;
  height:30px;
  padding-top:20px;
  padding-left:30px;
}

div.currentProgress {
  display:inline;
}

div.previousProgress {
  display:inline;
}

div.forwardProgress {
  display:inline;
}

td.locationField a, div.blueGreenLink a,td.formTipLink a,div#blueGreenLink a {
  text-decoration:none;
  color: #0f75bc;
}

td.locationField a:hover, div.blueGreenLink a:hover, td.formTipLink a:hover, div#blueGreenLink a:hover {
  text-decoration:none;
  color: #6a1f51;
}

div.blueGreenLink {
  text-align:left;
}

div.oneVoucher div.blueGreenLink {
}

#layoutbanner div.blueGreenLink {
  padding:5px 5px 5px 5px;
}

#layoutbanner div.leftLinks a, #layoutbanner div.rightlinks a {
color:#f1f1f1;
}

#layoutbanner div.rightLinks {
  float:right;
  padding-top:5px;
}

div#admin, div#voucherLeftPanel {
  float:left;
   width:80px;
  background:black;
  color:white;
  margin-top:25px;
  filter: alpha(opacity=80);
  -moz-opacity: 0.80;
  opacity: 0.80;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: 8px 8px 8px black;
  -webkit-box-shadow: 8px 8px 8px black;
  box-shadow: 8px 8px 8px black;
}

div.field_with_errors {
  display:inline;
}

div.dbClickOne, div.dbClickTwo, div.dbClickThree,div.dbClickFour{
  margin-right:10px;
  cursor:pointer;
  display:inline;
  color: #0f75bc;
  font-weight:bold;
}

div.dbClickDisabled {
  display:inline;
  margin-right:10px;
  font-weight:bold;
  color:#ccc;
}

div.dbClickOne:hover, div.dbClickTwo:hover, div.dbClickThree:hover, div.dbClickFour:hover {
  color:white;
}

div.leftPublishedDeal {
  width:600px;
  float:left;
  margin:25px 10px 15px 20px;
  padding:20px 10px 30px 10px;
  background:black;
  color:white;
  filter: alpha(opacity=80);
  -moz-opacity: 0.80;
  opacity: 0.80;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: 8px 8px 8px black;
  -webkit-box-shadow: 8px 8px 8px black;
  box-shadow: 8px 8px 8px black;
}

div.rightPublishedDeal {
  float:right;
  width:250px;
  background:black;
  padding:5px 5px 0px 5px;
  margin-top:25px;
  color:white;
  filter: alpha(opacity=83);
  -moz-opacity: 0.83;
  opacity: 0.83;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: 8px 8px 8px black;
  -webkit-box-shadow: 8px 8px 8px black;
  box-shadow: 8px 8px 8px black;

}

div#voucherRedeemLocContainer  {
  height:50px;
  width:85px;
  float:right;
}

div.voucherRedeemAllColor input[type='submit'], div.voucherRedeemRColor input[type='submit'], 
 div.voucherRedeemUColor input[type='submit']{
  color:white;
  background:black;
  border:0;
  border-radius:0;
  -moz-border-radius:0;
  padding-top:10px;
  height:50px;
  width:85px;
  font-size:12px;
  font-weight:bold;
}

div.voucherRedeemRColor input[type='submit']:hover {
  background-color:#C67171;
  color:black;
  cursor:pointer;
}

div.voucherRedeemUColor input[type='submit']:hover {
  background-color:#7CCD7C;
  color:black;
  cursor:pointer;
}

div.voucherRedeemAllColor input[type='submit']:hover {
  background:#9966FF;
  color:black;
  cursor:pointer;
}

#voucherButton input[type="submit"], #voucherButton input[type="reset"] {
   font-size:10px;
  color: #0f75bc;
   border:none;
   background:none;
   padding:none;
}

#voucherButton:hover input[type="submit"], #voucherButton:hover input[type="reset"] {
  color: #8cc63f;
}

div.oneVoucher {
  width:950px;
  background:black;
  color:white;
  filter: alpha(opacity=83);
  -moz-opacity: 0.83;
  opacity: 0.83;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: 8px 8px 8px black;
  -webkit-box-shadow: 8px 8px 8px black;
  box-shadow: 8px 8px 8px black;
  
}

div.privateCodeBackground {
  width:260px;
  margin:100px auto;
  text-align:center;
}

div.privateCodeFieldsSpace {
  background:black;
  color:white;
  filter: alpha(opacity=83);
  -moz-opacity: 0.83;
  opacity: 0.83;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: 8px 8px 8px black;
  -webkit-box-shadow: 8px 8px 8px black;
  box-shadow: 8px 8px 8px black;
}

div.privateCodeFields {
  padding:12px 10px 5px 25px;
}

div.purchasedVoucher {
  background:white;
  color:black;
  text-align:center;
  width:650;
  margin-left:150px;
  margin-right:150px;
  padding-top:50px;
  margin-top:50px;
  filter: alpha(opacity=83);
  -moz-opacity: 0.83;
  opacity: 0.83;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: 8px 8px 8px black;
  -webkit-box-shadow: 8px 8px 8px black;
  box-shadow: 8px 8px 8px black;
}

div.voucherIndexField  {
  padding-left:15px;
  display:inline;
  text-align:right;
}

div.clicktoShowRedeemed, div.clicktoShowUnredeemed {
  font-weight:bold;
  margin-right:5px;
  margin-left:5px;
  display:inline;
}

div.leftSidePanel {
  width:110px;
  float:left;
}
div.homeBigLinks {
  width:50%;
  padding-top:15%;
}

div.homeBigLinks a {
font-size:55px;
text-decoration:none;
color:#808080;
}

div.homeBigLinks a:hover {
  font-size:75px;
  color:#6a1f51;
}

div.formHeader {
font-size:55px;
color:#808080;
text-align:left;
padding-left:13px;
padding-top:20px;
}

div.headerLinks a {
  text-decoration:none;
  color:#141e41;
  font-family:Arial;
  font-weight:bold;
  padding-right:7px;
}

div.headerLinks a:hover {
  text-decoration:none;
  color: #0f75bc;
}

 div.login_fields input[type="text"], div.login_fields input[type="password"],
  div.signup_fields input[type="text"], div.signup_fields input[type="password"]{
  color:white;
  background:black;
  height:25px;
  width:200px;
  border-radius:0px;
  -moz-border-radius: 0px;
  
   display:inline;
}

div#loginSubmit input[type="submit"]:hover, div#signUpSubmit input[type="submit"]:hover {
  cursor:pointer;
  background:#ccc;
  color:black;
}

div#loginBigText {
  font-weight:bold;
  font-size:40px;
  color:black;
  margin-bottom:40px;
}
div#loginSubmit input[type="submit"],div#signUpSubmit input[type="submit"] {
  background:black;
  color:white;
  width:222px;
  height:35px;
  border-radius:0px;
  -moz-border-radius: 0px;
  font-weight:bold;
  display:inline;
}

div.login_fields {
   display:inline;
}

div.login_box {
  width:300px;
  margin-left:80px;
}

div.signup_box {
  padding-top:100px;
}


 div.login_labels {
   text-align:right;
   width:100px;
   display:inline;
 }

div.signup:hover {
  background:#ccc;
  cursor:pointer;
}
div.signup {
  height:25px;
  background:black;
  color:#0f75bc;
  font-weight:bold;
  width:220px;
  padding-top:5px;
  margin-left:31px;
}

div #login {
  padding-top:10px;
  display:inline;
}

#box label.fix {
	top:-5px;
}

#wrapper {
  min-height:100%; 
  height: auto !important;
  height:100%;
  margin: 0 -4em;
}

#logo {
       
	margin:0 auto;
	text-align:center;
	margin-bottom:-145px;
        margin-top: -100px;
}

#line { 
  width:100%;
  height:10px;
  background:#181717;
  border-bottom:1px solid #424242;
}

#background {
  background-color:black;
  background-image:url('../images/theme/loginbg.png') 50% 0 no-repeat; 
  padding-top:50px; 
}
div.industriesSignup {
  display:inline;
}
table.signup {
  border-radius: 15px;
  -moz-border-radius: 15px;
  margin: 0 auto;
  padding-bottom:5px;
  font-family: Century Gothic, sans-serif; 
}


div.signUpForm .error {
  text-align:left;
}

div.signUpForm label.error {
 color:#0f75bc;
}

div.signUpForm {
  display:block;
}

textarea[disabled] {
 background:gray;
}

div#errorPageLayout {
  background:black;
  height:80px;
  width:500px;
  color:#ccc;
  padding-top:40px;
  border:1px; solid black;
  border-radius:5px;
}

div#dbThreeStandardRestrictionButton, div#dbOnePhotoInfoButton,
 div#dbFourFBInfoButton {
  color:red;
  font-size:10px;
  display:inline;

}

div#dbThreeStandardRestrictionButton:hover, div#dbOnePhotoInfoButton:hover,
 div#dbFourFBInfoButton:hover {
  color:#ccc;
  font-size:10px;
  cursor:pointer;
  display:inline;

}

div.dbShowLabel {
 font-weight:bold;
}

div.dbShowLeftContainer {
 width:225px;
 height:196px;
 float:left;
 vertical-align:middle;
}
div.dbShowRightContainer {
 width:225px;
 height:196px;
 display:inline;
 float:right;
}

div.dbShowOne, div.dbShowTwo, div.dbShowThree, div.dbShowFour {
  display:inline;
}

div#oneOfferView {
  height:50px;
  font-weight:bold;
  background-color:#2d2d2d;
  color:white;
  margin-top:10px;
}
div#showAllVouchersContainer {
  float:center;
  height:50px;
  width:200px;
  font-weight:bold;
}

div.showAllVouchersContainerOn {
  background-color:#9966FF;
  color:black;
}

div.showAllVouchersContainerNotOn:hover {
  color:black;
  cursor:pointer;
  background-color:#9966FF;
}

div.showRVouchersContainerNotOn:hover {
  color:black;
  cursor:pointer;
  background-color:#C67171;
}

div.showUVouchersContainerNotOn:hover {
  color:black;
  cursor:pointer;
  background-color:#7CCD7C;
}

div#showRVouchersContainer {
  height:50px;
  width:200px;
  font-weight:bold;
  float:center;
}

div.showRVouchersContainerOn {
  background-color:#C67171;
  color:black;
}


div#showUVouchersContainer {
  height:50px;
  width:200px;
  font-weight:bold;
  float:center;
}
div.showUVouchersContainerOn {
  background-color:#7CCD7C;
  color:black;
}

 div.showRVouchersContainerNotOn, div.showUVouchersContainerNotOn, div.showAllVouchersContainerNotOn {
  float:center;
  height:50px;
  width:200px;
  color:white;
  font-weight:bold;
  background-color:black;
}

div#showVText {
  padding-top:15px;
}

div.oneVoucherViewOff {
  display:inline;
  float:left;
  height:50px;
  width:340px;
  font-weight:bold;
  background-color:black;
  color:white;
}

div.oneVoucherViewOn {
  display:inline;
  float:left;
  height:50px;
  width:340px;
  font-weight:bold;
  background-color:#ccc;
  color:black;
}

div.oneVoucherViewOn:hover {
  cursor:pointer;
}

div#offerIncompleteStatusView {
  float:left;
  display:inline;
  width:25px;
  background-color:#C67171;
  height:50px;
}

div#offerLiveStatusView {
  float:left;
  display:inline;
  font-weight:bold;
  width:25px;
  height:50px;
  background-color:#7ccd7c;
}

div#offerPublishStatusView {
  float:left;
  display:inline;
  width:25px;
  height:50px;
  background-color:#9966FF;
}

div#oneVoucherLeftView {
  width:210px;
  float:left;
  padding-top:15px;
  display:inline;
}

div#oneOfferView:hover, div#moreOfferViewLink:hover, div#hideOfferViewLink:hover,
   div#bigTextClickableContainer:hover, div.oneVoucherViewOff:hover {
 background-color:#ccc;
 color:black;
 cursor:pointer;
}



div#stepsOfferViewHolder {
  width:325px;
  float:right;
  padding-top:15px;
  display:inline;
}
div#oneVoucherRightView {
  width:130px;
  padding-top:15px;
  float:right;
  display:inline;
}
div#stepsOfferViewCompleted {
  font-weight:bold;
  color:#0f75bc;
  display:inline;
}

div#stepsOfferViewNotCompleted {
  font-weight:bold;
  color:#ccc;
  display:inline;
}

div#moreOfferViewLink,div#moreLiveOfferViewLink {
  height:30px;
  font-weight:bold;
  padding-top:10px;
}

div#incompleteOfferHeader {
  font-weight:bold;
  padding-bottom:10px;
  font-size:30px;
}

div#hideOfferViewLink {
  height:30px;
  font-weight:bold;
  padding-top:10px;
  background-color:black;
  color:white;
}
div#leftMyOfferLayout {
  width:725px;
  margin-top:60px;
  float:left;
  margin-top:15px;
  display:inline;
}

div#leftFreeLayout {
  width:425px;
  float:left;
  margin-top:15px;
  display:inline;
}

div#leftMiddleFreeLayout {
  width:425px;
  float:left;
  margin-top:250px;
  display:inline;
}

div#rightFreeLayout {
  width:425px;
  height:100%;
  float:right;
  margin-top:250px;
  display:inline;
}

div#bigTextClickableContainer,div#bigTextNonClickableContainer {
  height:70px;
  color:#ccc;
  background-color:black;
}

div#bigTextClickableText {
  font-weight:bold;
  font-size:40px;
  padding-top:23px;

}

div#centerTopContainer {
 height:250px;
}

div#centerTopBigText {
  color:#ccc;
  font-size:60px;
  padding-top:150px;
}

div.oneOfferInfoButtonOff, div.twoOfferInfoButtonOff, div.threeOfferInfoButtonOff, div.fourOfferInfoButtonOff, div.pubOfferInfoButtonOff {
  display:inline;
  float:left;
  width:85px;
  font-weight:bold;
  margin-bottom:10px;
  background-color:black;
  color:white;
}

div.oneOfferInfoButtonOff:hover, div.twoOfferInfoButtonOff:hover, div.threeOfferInfoButtonOff:hover,
  div.fourOfferInfoButtonOff:hover, div.pubOfferInfoButtonOff:hover {
  background-color:#ccc;
  color:black;
  cursor:pointer;
}

div.oneOfferInfoButtonOn, div.twoOfferInfoButtonOn, div.threeOfferInfoButtonOn, div.fourOfferInfoButtonOn, div.pubOfferInfoButtonOn {
  display:inline;
  float:left;
  width:85px;
  font-weight:bold;
  margin-bottom:10px;
  background-color:#ccc;
  color:black;
}


div.offerInfo {
  margin-bottom:7px;
  background-color:#ccc;
  color:black;
}

div.offerInfoOneContainer, div.offerInfoTwoContainer, div.offerInfoThreeContainer, div.offerInfoFourContainer, div.offerInfoPubContainer {
 font-size:10px; 
 padding-bottom:20px;
}

div.offerInfoField {
  width:212px;
}

div.offerInfoHeader {
  font-weight:bold;
  font-size:13px;
}

div#redeemedVouchers, div#unredeemedVouchers {
  margin-bottom:10px;
}
