<% if same_user?(@user.id,'user_show') %>
<div id='leftFreeLayout' style='margin-top:250px;'>
  <div id="bigTextClickableContainer" onclick="window.location = '<%= edit_user_path(session[:users_id]) %>'">
    <div id="bigTextClickableText" style='font-size:20px;'>
      Edit Name/Email/Password
    </div>
  </div>
</div>
<% if DbStepZero.find_by_user_id(session[:users_id]) %>
<div id='rightFreeLayout' style='margin-top:250px;'>
  <div id="bigTextClickableContainer" onclick="window.location = '<%= edit_db_step_zero_path(DbStepZero.find_by_user_id(session[:users_id])) %>'">
    <div id="bigTextClickableText" style='font-size:20px;'>
      Edit Business Attributes 
    </div>
  </div>
</div>
<% end %>
<% else %>
  <%= render :partial => 'layouts/noaccess' %>
<% end %>
