<% content_for :leftlayout do %>
<ul class="dash">
  <li class="fade_hover tooltip" title="" style="opacity: 1;">  
  <a href="#">
    <%= image_tag("theme/icons/dashboard/41.png") %>
    <span>Build Offer</span>
  </a>
  </li><br />
  <li class="fade_hover tooltip" title="" style="opacity: 1;">
  <a href="#">
    <%= image_tag("theme/icons/dashboard/2.png") %>
    <span>My Offers</span>
  </a>
  </li><br />
  <li class="fade_hover tooltip" title="" style="opacity: 1;">
  <a href="#">
    <%= image_tag("theme/icons/dashboard/66.png") %>
    <span>Distribute</span>
  </a>
  </li><br />
  <li class="fade_hover tooltip" title="" style="opacity: 1;">
  <a href="#">
    <%= image_tag("theme/icons/dashboard/43.png") %>
    <span>Track</span>
  </a>
  </li><br />
<% end %>
