<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<% unless current_user then %>
<%= render(:partial => "users/signup",:object => @user) %>
<% else %>
   Welcome <% current_user %>
<% end %>
