<head>
     <%= javascript_include_tag 'jquery', 'jquery-ui', 'application' %>
</head>
<%= check_box_tag "user[industry_ids][]", industry.id, @user.industries.include?(industry),:class => 'icheckbox'%>
<%= industry.title %>


<br />
<div class="scheckbox">
<%= render industry.subindustries %>
</div>
<br />
