<% unless current_user %>
 <div id="layoutbanner">
         <div class="bannerlogo">
         <%= link_to image_tag("theme/smallbannercroppedlogo.png"),login_index_path %>
         </div>
</div>
<div id='content'>
<% end %>
<div class='privateCodeBackground'>
  <div class='privateCodeFieldsSpace'>
   <% form_tag do %>
    <div class='privateCodeFields'>
     <%= text_field_tag :typed_p_code, params[:typed_p_code],:size => '30',:placeholder => 'Enter code' %>
    </div>
    <div class='notice'><%= notice %></div>
    <div class='privateCodeFields'>
     <%= submit_tag 'Unlock' %>
    </div>
   <% end %>
  </div>
</div>
<% unless current_user %>
</div>
<% end %>

