<div class='leftPublishedDeal' style='height:40px;padding:10px 0 0 0;'>
<h3>Past Deals </h3>
</div>

<div class='leftPublishedDeal'>
<table>
<% @prev_publishes.each do |prev_publish| %>
  <tr>
    <td style='width:300px;'><%= prev_publish.offer_title %></td>
    <td style='width:150px;'><%= prev_publish.created_at.strftime("Ended %m/%d/%y ")%></td>
    <td><% if prev_publish.offer_value %>
          Offer
        <% else %>
          Coupon
        <% end %>
    </td>
    <td class='formTipLink' style='width:100px;'><%= link_to 'Terms' , prev_publish %></td>
    
  </tr>
<% end %>
</table>
<table>
<td class='formTipLink' style='width:600px;'><%= will_paginate @prev_publishes %></td>
</table>

</div>

<br />

