<%= render :partial => 'dashboard' %>
<h1 class="content">Before and During Promotion</h1>
<h2>Scheduling</h2>
<p class="content">
A business must also take into account the timing of when their promotion runs. It would not be prudent to run a discount promotion during the busiest time of the year. To get the timing right, a business owner needs to look not only at the seasonality of their business and the calendar, but also at the scheduling policies of the publisher they work with.
</p>
<p class="content">
Some services allow a business to schedule the date that their promotions run. Others do not. For example, Groupon gives businesses a 4-8 week period in which their promotion might run. Past that the business has no control. They will be given notice generally a week before their deal is published. There is quite a bit of variance in scheduling policies. This should be taken into account when planning for a promotion.
</p>
<h2>Preparing For the Promotion</h2>
<p class="content">
Among the considerations that a business must take is how close they are running to capacity, and what level of additional traffic will require the hiring of additional staff. Generally, much of the visits generated from the promotion will occur shortly after the promotion is published. It is probably worth having some additional staff on call following the promotion.
</p>
<p class="content">
We also recommend preparing material clearly outlining voucher policy for customers who have questions. A simple handout kept by the register should suffice.
</p>
<h2>Redemption</h2>
<p class="content">
Redeeming vouchers is generally pretty simple. Usually each voucher is assigned a random number that is just checked off the list when used. Make sure that the representative of the deal publisher walks you through their particular redemption process before you run you’re promotion.
</p>
<h2>Payment Terms</h2>
<p class="content">
Like the scheduling, there is also significant variance in the payment policies of different services. Most services now retain a percentage of the business’ revenue for at least 30 days after the close of the promotion to cover potential refunds. The percentage retained and the schedule of payments must be considered in evaluating cash flow needs. (Keep in mind that a large portion of coupons are redeemed shortly after the promotion).
</p>
