<%= render :partial => 'dashboard' %>
<h1 class="content">Follow Up</h1>
<p class="content">
Don’t just hope that the customers redeeming vouchers will return to your business. Drive them back to your business. We cannot overstate the importance of following up. The profitability of any promotion is dependent on the number of visitors who return to the business. Thus, at a bare minimum, businesses must at least follow up with an email.
</p>
<p class="content">
This means that a business that runs a daily deal had better get the email addresses from those redeeming the vouchers. It would be nice if publishers gave businesses the customers’ email addresses, but only a couple deal-sites actually offer this. Most leave it up to the business to collect the email addresses. This is not hard to do, though. Simply ask customers to write their email address on the back of the voucher when they use it for payment.
</p>
<p class="content">
As stated under “Expectations and Purpose”, some of the value in a daily deal promotion for a business is that it can add many new online relationships. There are several tools available to small business owners that can cost-effectively assist in email campaigns and managing online presence, so that the business owner can focus on what he or she does best: running their business and providing outstanding products and services.
</p>
<p class="content">
The benefit of follow up and management of online presence is underscored by findings that purchasers of online coupons tend to be more involved in social networking and are more likely to recommend a business to friends and to write an online review of the business. When a business promotes itself through group buying, it might expect to see an increase in the online activity surrounding their business. Thus, it is sensible for many to take an active role in managing their online presence and marketing.
</p>
