<%= render :partial => 'dashboard' %>
<h1 class="content">Getting Started</h1>
<h2>Expectations and Purpose</h2>
<p class="content">
A daily deal promotion is not a marketing or advertising solution in itself. It is a way to get many new consumers in the door and gain web-based exposure, but can be more effective as a launching pad into a greater online marketing strategy. We prefer to view an online coupon promotion not as a customer generation tool, but rather as a lead generation tool. When viewed this way, as a step in the process of increasing one’s customer base, the importance of follow up becomes evident. Part of the value of a daily deal promotion is the ability to add a few hundred names to your email list. Businesses that use email marketing can attest to this value. 
</p>
<h2>How a Daily Deal works</h2>
<p class="content">
A business offers a coupon promotion through a daily deal/group buying site (the publisher or distributor). The publisher does an editorial write up along side your offer highlighting the benefits of the business’ product/service, and sends this promotion out to its subscribers, and those of media partners. Consumers buy the deal online, the publisher keeps a cut of the proceeds, and the business serves many new customers with the goal of converting them to regular customers. Each promotion is the product of a negotiation between the business and the deal publisher. The two main terms to negotiate are:
</p>
<ul class="content">
<li>
The Offer - The publisher presents to its opt-in subscribers, or through media partners, an offer from a local business, that its subscribers can purchase online and redeem at the business. Generally speaking, the offer represents a 50% discount off retail price.  
</li>
<li class="content">
Revenue Share - The offer will run for a specified period, or until sold out. While available, consumers can purchase the offer online from the publisher. The publisher retains a percentage of the revenue as its fee for the advertising, and the business gets the the remainder up-front, or in installments to ensure follow through on redemption. Different publishers charge different revenue shares for different types of businesses.
</li>
</ul>
<p class="content">
These are not the only two terms to be negotiated, though, as there are several details that can change the outcome of a promotion. As with the revenue share, the many different distributors vary in their flexibility concerning many details.
</p>
<p class="content">
The benefit to the business is that it is only charged a fee for the customers that walk in and try the product as a result of the promotion. It has been found that the promotions have attracted a high percentage of new customers. Presumably, if the business is able to leave a positive enough impression on the new customers, they will return at retail prices. 
</p>
