<%= render :partial => 'dashboard' %>
<br /><br /><br /><br />
<h1 class="content">Welcome</h1>
<p class="content">Daily deals, prepaid coupons, have rapidly come to prominence as an online marketing tool for local business. Business owners are increasingly aware of the daily deal business model through media coverage, and many have experienced solicitation from one or more of the 500 plus daily deal service providers. Much skepticism has emerged concerning whether or not the benefits of daily deal promotions outweigh the risks for small- to medium-sized businesses. One can easily find a host of both horror stories and success stories.
</p>
<p class="content">
Daily deal promotions benefit local business when business owners have a clear understanding of how the advertising model works, what the varying terms and conditions of the different daily deal service providers are, and how best to follow up with the new customers that the promotion brings.  
</p>
<p class="content">
At OfferGlass.com, we believe that well-informed business owners can use prepaid coupon promotions to their advantage. We provide business owners with the necessary information and tools to determine the costs and benefits of the promotion, select the distributor that best suits their needs, and develop a simple method of customer follow-up.  
</p>
