<%= render :partial => 'dashboard' %>
<h1 class="content">Designing the Offer</h1>
<p class="content">
The appropriate offer structure varies from business to business. There are two primary types of offers, price and item.
<ul class="content">
  <li>
    <b>Price Promotion</b> - This is essentially a discounted gift certificate. For example: $40 of merchandise for $20.
  </li>
  <li>
    <b>Item Promotion</b> - Business promotes a specific item or survey at a discounted price online. For example: A one-hour massage for $45(50% discount), or 2 appetizers and 2 cocktails for $18 (50% discount). A June 2011 study conducted at Rice University found that item offers tended to be more profitable than price offers. Item offers can additionally be structured to limit use to certain times of the day when a business wants to boost traffic- a lunch special at a restaurant, for example.
  </li>
</ul>
<p class="content">
In structuring the details of the offer, the business must also carefully consider and balance the objectives of high customer affinity and structuring the offer to help sell additional goods or services.
</p>
<p class="content">
<b>Customer Affinity</b> - This is the degree to which the customer values the voucher. The ideal being that the more they value the voucher, the more they will value the experience, and thus are more likely become repeat customers. It has been suggested that the greater the purchase price of the voucher, the greater customer affinity, and thus overall promotion profitability.
</p>
<p class="content">
<b>Up-sell</b> - A business should be mindful with the offer structure to create an opportunity, or incentive, for customers to spend more than their voucher is worth. This can greatly improve the profit/loss from the promotion. For example, if the offer is for an entré, a business has the opportunity to sell wine. It also makes sense to issue a voucher with a value somewhat below the expected average check.
</p>
<br />
<h1 class="content">Promotion Details</h1>
<p class="content">
What has really stood out in many of the horror stories is that businesses overlooked many details. These are important! Here are some examples:
</p>
<ul class="content">
  <li>
    <b>Limit on number of offers available</b> - Most publishers allow limits, but some require higher limits than others. Limiting the number of vouchers sold is very important for the business that wants to control the overall marketing expense. Capacity is an important consideration here as well-  businesses must be careful not to displace active full-price customers with discount customers.
  </li>
  <li>
    <b>Limited use offers</b> - many restaurants, for example, don’t need the extra business on Fridays and Saturdays, but could really use a boost during weekdays. It might make sense to take advantage of the available weekday capacity to run a promotion for new customers, with use excluded Fri-Sat. Some distributors welcome this, some don’t. Most publishers do want to avoid offers that are overly restrictive, but it can be worth negotiating.
  </li>
  <li>
    <b>Credit card fee</b> - some publishers take the credit card fee (usually 3-3.5%) out of the business’ share of the proceeds. With other sites, this is up for negotiation.
  </li>
  <li>
    <b>Basic restrictions</b> - ie. Limit 1 voucher per party per visit/not valid for alcohol/minimum required purchase/gratuity based on full value of order added to check/expiration date (usually 6 months to a year).
  </li>
  <li>
    <b>Shipping</b> - online retailers can save money by disallowing the voucher from being used toward shipping costs. This can make several hundreds of dollars difference.
  </li>
</ul>

<p class="content">
  Additional restrictions and voucher “fine-print” can be found in the DealBuilder.
</p>
