<%= render :partial => 'dashboard' %>
<h1 class="content">Profit Drivers</h1>
<p class="content">
To determine the actual cost of the marketing promotion, several other variables come into play. Here is a list of the major profit/loss drivers of a promotion that a business must consider:
</p>
<ul class="content">
  <li>
    The offer value - the value the offer can be redeemed for.
  </li>
  <li>
    The offer discount - the discount at which consumers can purchase the offer from the deal distributor.
  </li>
  <li>
    The revenue share - the percentage of the revenue that the publisher retains.  </li>
  <li>
    Cost of goods sold - the incremental cost of the additional goods or services being provided. For example, at a restaurant the cost of goods sold is simply the cost of the food, so long as the promotion does not drive so much traffic that the restaurant must also hire additional employees. It is vital that a business has a good understanding of the cost of selling each additional unit.
  </li>
  <li>
    Overage - the amount that the average coupon-redeeming customer spends in addition to value of the coupon.  This can have a tremendous impact on the profitability of the promotion.
  </li>
  <li>
    Breakage- the percentage of sold vouchers that remain unredeemed after the expiration period.
  </li>
  <li>
    Percentage of new or inactive customers vs. active customers using vouchers. The discount given to active customers is an additional cost- as these customers would have come and spent the same regardless of the voucher- we call this cannibalized income.
  </li>
  <li>
    The number of coupons sold- we highly recommend limiting the number of vouchers sold as a means to the strictly control the overall cost of the promotion.
  </li>
  <li>
    Repeat visits from new customers- this is the return on investment. High quality service and customer follow up can increase the likelihood of developing loyal customers from the coupon promotion.
  </li>
</ul>
<p class="content">
For further understanding of how these variables interact please visit our deal calculator.
</p>
