<%= form_for(@calculator_tool) do |f| %>
  <% if @calculator_tool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@calculator_tool.errors.count, "error") %> prohibited this calculator_tool from being saved:</h2>

      <ul>
      <% @calculator_tool.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
