<ul class="dash">
  <li class="fade_over_tooltip" title="Deal Builder">
    <a href="<%= deal_builders_path %>">
      <%= image_tag("theme/icons/dashboard/85.png") %>
      <span>Deal Builder</span>
    </a>
  </li>
  <li class="fade_over_tooltip" title="Calculator">
    <a href="<%= calculator_tools_path %>">
      <%= image_tag("theme/icons/dashboard/88.png") %>
      <span>Calculator</span>
    </a>
  </li>
</ul>
<hr />

