<%= form_for(@marketing_plan) do |f| %>
  <% if @marketing_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@marketing_plan.errors.count, "error") %> prohibited this marketing_plan from being saved:</h2>

      <ul>
      <% @marketing_plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
