<head>

<%= stylesheet_link_tag 'login.css' %>
</head>

<div id="line">
<!-- -->
</div>
<div id="background">
  <div id="container">
    <div id="logo">
      <%= image_tag("theme/logologin.png") %>
    </div>
    <%= render :partial => 'sessions/login' %>         
    <div class="signup">
      <%= link_to 'Sign Up', sign_up_index_path %> 
    </div>    
  </div>
</div>


