<head>
  <%= stylesheet_link_tag 'style.css' %>
</head>
<body>
    <div id="content">
        <div id='largBigLogo'>
        <%= image_tag("theme/croppedlogo.png") %>
        </div>
      <div id='leftFreeLayout' style='margin-top:150px;margin-left:150px;'>
      <div id='loginBigText'>
        BUSINESS LOGIN
        </div>
      <%= render :partial => 'sessions/login' %>         
      </div>
    </div>
  </div>
</body>
