<head>
  <%= stylesheet_link_tag 'style.css' %>
</head>
<body style="background-color:black;
     background-image:url('../images/theme/close.png') repeat;
       padding:0; margin:0;">
<div id="line"><!-- --></div>
<div id="wrapper">
  <div id="background">
    <div id="content">
      <div id="logo">
        <%= image_tag("theme/final2_wide.png") %>
      </div>
      <%= render :partial => 'sessions/login' %>         
    </div>
  </div>
</div>
</body>
