<head>
  <%= stylesheet_link_tag 'login.css' %>
</head>

<div id="line"><!-- --></div>
<div id="wrapper">
  <div id="background">
    <div id="container">
      <div id="logo">
        <%= image_tag("theme/final_wide_logo.png") %>
      </div>
      <%= render :partial => 'sessions/login' %>         
    </div>

    <div id="push"></div>
    <div id="footer">
    </div>
  </div>
</div>


