<% unless current_user %>
 <div id="layoutbanner">
         <div class="bannerlogo">
         <%= link_to image_tag("theme/smallbannercroppedlogo.png"),login_index_path %>
         </div>
</div>
<div class='leftSideLayout'>
<p>This is where paypal will go</p>
  <%= render 'vouchers/form', :object => (@db_publish_id = params[:id]),
                              :object => (@voucher = Voucher.new) %>
<% end %>
</div>

<% if DealBuilder.find(DbPublish.find(@db_publish_id).deal_builder_id).db_step_four.fb_incentive == 'yes'&& !session[:fb_allow]%>
  <%= render 'facebook_share_codes/redeem_form' ,:object => @db_publish_id%>
<% end %>
