<h1>Listing Non-Profit Applicants</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<br />
<% @organizations.each do |organization| %>
  <tr>
    <td><%= organization.name %></td>
    <td><%= link_to 'Details', organization %></td>
    <td><%= link_to 'Destroy', organization, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Back to Admin CC', admins_path %>

