<h1>Listing deal_builders</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @deal_builders.each do |deal_builder| %>
  <tr>
    <td><%= link_to 'Show', deal_builder %></td>
    <td><%= link_to 'Edit', edit_deal_builder_path(deal_builder) %></td>
    <td><%= link_to 'Destroy', deal_builder, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Deal builder', new_deal_builder_path %>
