<ul class="dash">
  <li class="fade_over_tooltip" title="Find a Review">
    <a href="<%= review_entries_path %>">
      <%= image_tag("theme/icons/dashboard/10.png") %>
      <span>Find a Review</span>
    </a>
  </li>
  <li class="fade_over_tooltip" title="Write a Review">
    <a href="<%= review_entries_new_path %>">
      <%= image_tag("theme/icons/dashboard/2.png") %>
      <span>Write a Review</span>
    </a>
  </li>
</ul>
<hr />
