
<div class='row-fluid'>
<div class='span8'>
<h1> Live Offers </h1>
</div>
<h2> <%= link_to 'View The Non-Profits', list_path%> </h2>
</div>
<br />
<% @liveOffers.each do |l| %>
  <div class='row-fluid'>
  <div class='span10'>
  <div class='well'>
      <%= image_tag l.photo.url(:thumb) %>
      <h3 style='display:inline'><%= link_to l.headline, live_offer_path(l) %></h3>
      <h5>Provided by <%= Business.find(l.business_id).name %></h5>
  </div>
  </div>
  </div>
<% end %>
