  <div id='rightlayout' style='padding-top:80px;'>
   <div class='formHeader' style='padding-bottom:10px;'>
   Wrong turn somewhere...
   </div>
   <div id='errorPageLayout'>
      We are sorry but you are not allowed to access this page! 
      <div class='blueGreenLink' style='text-align:center;'>
      <%= link_to 'Back to Your Offers', deal_builders_path %>
      <%= link_to 'Create a New Offer', new_deal_builder_path %>
      <%= link_to 'Track Your Offers',vouchers_path %>
      </div>
   </div>
  </div>


