<% content_for :not_right_layout do %>
<% end %>
<% if current_user.vouchers.size == 0 %>
  <div id="centerTopContainer">
  <div id="centerTopBigText">0 Vouchers</div>
  </div>
<div id="leftFreeLayout" style='margin-top:0px;'>
    <div id="bigTextClickableContainer" onclick="window.location = '<%= new_deal_builder_path %>'">
      <div id="bigTextClickableText">
      Start From Scratch 
      </div>
    </div>
  </div>
<div id="rightFreeLayout" style='margin-top:0px;'>
      <div id="bigTextClickableContainer" onclick="window.location = '<%= deal_builders_path %>'">
        <div id="bigTextClickableText">
          Make Them Better 
        </div>
      </div>
    </div>
<% else %>
  <div id='rightFreeLayout' style='margin-top:100px;width:300px;height:500px;'>
  <div class='showAllVouchersContainerOn' id='showAllVouchersContainer'>
     <div id='showVText'>
     Show All
     </div>
  </div>
  <div class='showRVouchersContainerNotOn' id='showRVouchersContainer'>
     <div id='showVText'>
     Show Only Redeemed 
     </div>
  </div>
  <div class='showUVouchersContainerNotOn' id='showUVouchersContainer'>
     <div id='showVText'>
    Show Only Unredeemed 
     </div>
  </div>
  </div>
 
  <div class='formHeader'>Vouchers</div>
  <% current_user.vouchers.each do |voucher| %>
    <%= render 'draw_voucher' , :object => @voucher = voucher %>
  <% end %>
<% end %>


